.card {
  margin-top: 50px;
  height: 65vh;
  width: auto;
  border-radius: 20px;
  background-image: url('../images/portfolio_card.png');
  background-size: cover;
  // position: relative;
  // z-index: 2;
}

