.card {
  margin-top: 50px;
  height: 65vh;
  width: auto;
  box-shadow: 0 0 50px rgba(0,0,0,0.5);
  border-radius: 20px;
  background-image: url('../images/porfolio_card.png');
  background-size: cover;
  // position: relative;
  // z-index: 2;
}
