.home-container {
  margin-top: 20px;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 85vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.profile-info {
  width: 600px;
  height: 100%;
  margin-left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 30px;
    color: rgba(0,0,0,0.4);
  }
}

.name {
  color: #4F32B6;
}

.media-links {
  display: flex;
  justify-content: center;
}

.links {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  background-color: #4F32B6;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: white;
    text-decoration: none
  }
}

.linked-in:hover {
  color: white;
  background-color: #0078B5;
}

.github:hover {
  color: white;
  background-color: black;
}

.dribbble:hover {
  color: #C32361;
  background-color: #EA4C89;
}

.instagram:hover {
  color: white;
  background: #833ab4;
  background: -webkit-linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

.twitter:hover {
  color: white;
  background-color: #1EA1F2;
}

/* HOVER SHADOW ON MEDIA LINKS */
@mixin hideTapHighlightColor() {
  //Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@mixin hardwareAccel() {
  //Improve performance on mobile/tablet devices
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  //Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@keyframes hover {
  50% {
    transform: translateY(-3px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes hover-shadow {
  0% {
    transform: translateY(6px);
    opacity: .6;
  }

  50% {
    transform: translateY(3px);
    opacity: 1;
  }


  100% {
    transform: translateY(6px);
    opacity: .6;
  }
}

.hover-shadow {
  position: relative;
  transition-duration: 0.5s;
  transition-property: transform;

  @include hideTapHighlightColor();
  @include hardwareAccel();
  @include improveAntiAlias();

  &:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,.35) 0%,rgba(0,0,0,0) 80%); /* W3C */
    transition-duration: 0.5s;
    transition-property: transform opacity;
  }

  &:hover {
    transform: translateY(-10px);
    animation-name: hover;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

    &:before {
      opacity: .6;
      transform: translateY(10px);
      animation-name: hover-shadow;
      animation-duration: 1.5s;
      animation-delay: .0.5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }
  }
}
