.home-container {
  margin-top: 20px;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  height: 85vh;
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.profile-info {
  width: 600px;
  height: 100%;
  margin-left: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 30px;
    color: rgba(0,0,0,0.4);
  }
}

.name {
  color: #4F32B6;
}
