<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="about-card">
        <div class="about-info">
          <div class="about-info-first info-sections">
            <h1>I</h1>
            <p>learned my skills to become a web developer doing a 9 week intensive course at the #1 coding bootcamp in europe, <a href="https://www.lewagon.com/" style="color: #D23333" target="_blank">LE WAGON</a>.</p>
          </div>
          <div class="about-info-second info-sections">
            <h1>ALSO</h1>
            <p>whilst learning web development, I've also taken to design and I'm beginning to delve into my more creative side.</p>
          </div>
          <div class="about-info-third info-sections">
            <h1>WHEN</h1>
            <p>I'm not debugging code and boxing shadows, I like to watch and play sports (football mainly), cycle, socialise and explore.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
