<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="profile-info">
          <h1>Hi, and welcome!</h1>
          <h1>My name is <span class="name">Ife Odugbesan</span>.</h1>
          <h1>I am a London based <span class="name">Web Developer</span>.</h1>
          <hr>
          <div class="media-links">
            <% link_to "https://www.linkedin.com/in/ifeodugbesan/", target: "_blank", class: 'links linked-in hover-shadow' do %>
              <i class="fab fa-linkedin-in "></i>
            <% end %>
            <% link_to "https://github.com/ifeodugbesan", target: "_blank", class: 'links github hover-shadow' do %>
              <i class="fab fa-github"></i>
            <% end %>
            <% link_to "https://dribbble.com/ifz10", target: "_blank", class: 'links dribbble hover-shadow hover-shadow-dribbble' do %>
              <i class="fab fa-dribbble"></i>
            <% end %>
            <% link_to "https://www.instagram.com/itsifz/", target: "_blank", class: 'links instagram hover-shadow' do %>
              <i class="fab fa-instagram"></i>
            <% end %>
            <% link_to "https://twitter.com/itsifz", target: "_blank", class: 'links twitter hover-shadow' do %>
              <i class="fab fa-twitter"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
