<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="card">
        <div class="profile-info">
          <h1>Hi, and welcome!</h1>
          <h1>My name is <span class="name">IFE ODUGBESAN</span>.</h1>
          <h1>I am a web developer based in London.</h1>
        </div>
      </div>
    </div>
  </div>
</div>
