<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
       <ol class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
              <div class="row">
                <div class="col-xs-12">
                  <div class="project-card-idk">
                    <div class="idk-info">
                      <h1>idk.</h1>
                      <hr>
                      <p>Feeling indecisive? Spin the wheel and find activies to do in London. Create events and invite your friends. Also, have a peek at what events your friends are attending.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-xs-12">
                  <div class="project-card-ports">
                    <div class="ports-info">
                      <h1>PORTS</h1>
                      <hr>
                      <p>Charter a yatch and have an experience of a lifetime. Become a host add add your yacht to our exclusive fleet.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-xs-12">
                  <div class="project-card-mister-cocktail">
                    <div class="mister-cocktail-info">
                      <h1>MISTER COCKTAIL</h1>
                      <hr>
                      <p>Browse your favourite cocktail recipes. Why not upload your own cocktail for others to try? Leave reviews and rate the cocktails that you love.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#carousel" data-slide="prev"><i class="fas fa-chevron-circle-left"></i></a>
        <a class="carousel-control right" href="#carousel" data-slide="next"><i class="fas fa-chevron-circle-right"></i></a>
    </div>
    </div>
  </div>
</div>

